<h4>Hola! <%= @user.name %></h4>
<p>
  Bienvenido/a AComer, estamos para mejorar la experiencia entre el local y tus clientes. Ahora podras dar el 100% de visibilidad de tu menu.
</p>
<p>
  Si tienes dudas o consultas, nos puedes escribir a rodrigo@acomeradmin.cl o comunicanos al telefono +56981813893
</p>
<p>
  Gracias por elegir Acomer!
</p>
<div style="width: 100% !important; height: 210px !important;">
  <img src="https://acomeradmin.cl/img/logo.png" height="auto" width= "25%">
</div>