<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por enviar el reporte de la opinion!</h1>
    <p> La reseña entrará en revision por nuestros operadores, si se considera que esta reseña está hecha para perjudicar la imagen del
    producto entonces se dará de baja.</p>
    <br>
    <p>Saludos</p>
    <br>
    <p>Acomer Team </p>
  </body>
</html>