<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to '<i class="batch batch-icon-arrow-left"></i>'.html_safe, posts_path, class: "acomer-btn-secundary" %>
