<div class="container mt-5 mb-5">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Nombre:</strong>
    <%= @category.name %>
  </p>
  <p>
    <strong>Descripción:</strong>
    <%= @category.description %>
  </p>
</div>
