<p>Hola! <%= @resource.email %>!</p>

<p>Has requerido recuperar tu contraseña, para realizar este cambio debes ir al siguiente enlace:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no pediste cambiar tu contraseña, por favor contacta al equipo de acomer.</p>
<p>Tu contraseña no sera modificada hasta que hagas cambios en el enlace.</p>
