<div class="formulario">
<h1>Editing Product</h1>
<%= render 'form', product: @product %>

<%= link_to 'Show', @product %> |
<%= link_to '<i class="batch batch-icon-arrow-left"></i>'.html_safe, admin_products_path, class: "acomer-btn-secundary" %>
</div>
